.*/
*.dmp
/.*
/**/*.ini
/*.xml
/*.properties
/keymapper.conf
_viminfo
AppData/*
Desktop
Documents/*
!Documents/WindowsPowerShell
!Documents/PowerShell
Downloads
Favorites
Intel*/
Links
Pictures
NTUSER*
OneDrive*/
Or*/
Searches
Soap*/
source/repos/
web*/
Games
Saved Games
VirtualBox VMs
eclipse
dotnet
Zomboid
*.log
Documents/PowerShell/Modules
