.*/
*.dmp
/.*
/**/*.ini
/*.xml
/*.properties
/keymapper.conf
_viminfo
AppData/*
!AppData/Local/Packages/*
Desktop
Documents/*
!Documents/WindowsPowerShell
!Documents/PowerShell
Downloads
Favorites
Intel*/
Links
Pictures
NTUSER*
OneDrive*/
Or*/
Searches
Soap*/
source/repos/
web*/
